extends layout

block content
  h1= title
  p Welcome to #{title}
  p#red Your Phone number is #{phone}

<script type="application/javascript">
<!--
// Using the core $.ajax() method
$.ajax({
 
    // The URL for the request
    url: "http://pi:5984/alice/_design/list_contacts/_view/list_contacts",
 
    // The data to send (will be converted to a query string)
    data: {
        id: 123
    },
 
    // Whether this is a POST or GET request
    type: "GET",
 
    // The type of data we expect back
    dataType : "json",
 
    // Code to run if the request succeeds;
    // the response is passed to the function
    success: function( json ) {
        $( "<h1> Rows:" ).text( json.total_rows ).appendTo( "body" );
        $( "<div class=\"content\">").html( json.html ).appendTo( "body" );
    },
 
    // Code to run if the request fails; the raw request and
    // status codes are passed to the function
    error: function( xhr, status, errorThrown ) {
        alert( "Sorry, there was a problem!" );
        console.log( "Error: " + errorThrown );
        console.log( "Status: " + status );
        console.dir( xhr );
    },
 
    // Code to run regardless of success or failure
    complete: function( xhr, status ) {
        alert( "The request is complete!" );
    }
});
//-->
</script>