doctype html
html
head
  title= title
  link(rel='stylesheet', href='/stylesheets/home.css')
  link(rel='script', href='/javascripts/jquery-1.11.2.js')
  link(rel='script', href='/javascripts/home.js')
!= '<body onload="loadList()">'

block content
