extends layout

block content
	h1=title
	
	h3=msg
	
	#thelist #{mylist}

	h2 Add new Contacts
	
	form(method="POST" , action="/new_contact")

		p First Name:
		input#firstname(type="text" , name="firstname")

		p Last Name:
		input#lastname(type="text" , name="lastname")

		p Address:
		input#address(type="text" , name="address")

		p Address 2:
		input#address(type="text" , name="address2")

		p City:
		input#city(type="text" , name="city")

		p Postal Code:
		input#postcode(type="text" , name="postcode")

		p State/Province :
		input#state(type="text" , name="state")

		p Country:
		input#country(type="text" , name="country")

		p Email:
		input#email(type="text" , name="email")

		p Phone No:
		input#body(type="text" , name="phone")

		p Notes :
		input#notes(type="textarea" , name="notes")


		p: button(type="submit") Add New Contact



	h2 Add new Database this is for example.In real life app databse is already set up
	form(method="POST" , action="/createdb")
		p Database name:
		input#title(type="text" , name="dbname")
		p: button(type="submit") Add New Database

	h2 enter phone number to delete contact
	form(method="POST" , action="/delete_contact")
		p Name:
		input#title(type="text" , name="name")
		p: button(type="submit") Delete contacts

	h2 View Specific contacts
	form(method="POST" , action="/view_contact")
		p Name:
		input#title(type="text" , name="name")
		p: button(type="submit") View Contact

	h2 Edit Specific contacts
	form(method="POST" , action="/edit_contact")
		p Name:
		input#title(type="text" , name="name")
		p: button(type="submit") Edit Contact

	